#home {
  /* Layout */
display: flex;
align-items: center;
position: relative;
height: 700px;
width: 1490.67px;
z-index: 10;

/* Padding and Margin */
padding-top: 100px;
padding-block-start: 100px;
margin: 0;

/* Font */
font-family: 'Inter, sans-serif';
font-size: 16px;
line-height: 24px;

/* Color */
color: rgb(0, 0, 0);

/* Other */
box-sizing: border-box;

}