 
.card-container {
    background-color: var(--card-bg);
    color: var(--card-text);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  
    .card-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  
    .card-date {
      font-size: 1rem;
      color: gray;
      margin-bottom: 1rem;
    }
  
    .card-description {
      margin-bottom: 1rem;
    }
  
    .card-subtitle {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  
    .card-list {
      list-style-type: disc;
      list-style-position: inside;
      margin-bottom: 1rem;
    }
  
    .card-section {
      margin-bottom: 1rem;
  
      .card-section-toggle {
        color: blue;
        cursor: pointer;
        transition: color 0.3s ease;
  
        &:hover {
          color: darken(blue, 10%);
        }
      }
  
      .card-section-list {
        list-style-type: disc;
        list-style-position: inside;
        margin-top: 0.5rem;
      }
    }
  }
  