// variables.scss

// Colors
$box-shadow-color: --var(--box-shadow-color);

// Hover Effects
$hover-lighten-amount: 10%;
$hover-darken-amount: 10%;

// Font Sizes
$font-size-social: 1.5rem;
$font-size-page-links: 1rem;

// Font Weights
$font-weight-page-links: 600;
$button-font-weight: 600;

// Button Styles
$button-padding: 0.5rem 1rem;
$button-border-radius: 1rem;